<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.registrationapp.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>registrationapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration_Controller</display-name>
    <servlet-name>Registration_Controller</servlet-name>
    <servlet-class>com.registrationapp.controller.Registration_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_Controller</servlet-name>
    <url-pattern>/Registration_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.registrationapp.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegistrations</display-name>
    <servlet-name>GetRegistrations</servlet-name>
    <servlet-class>com.registrationapp.controller.GetRegistrations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegistrations</servlet-name>
    <url-pattern>/GetRegistrations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRegistration</display-name>
    <servlet-name>DeleteRegistration</servlet-name>
    <servlet-class>com.registrationapp.controller.DeleteRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRegistration</servlet-name>
    <url-pattern>/DeleteRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRegistrationController</display-name>
    <servlet-name>UpdateRegistrationController</servlet-name>
    <servlet-class>com.registrationapp.controller.UpdateRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRegistrationController</servlet-name>
    <url-pattern>/UpdateRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.registrationapp.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>